body {
	background-image: url("../image/bgd1.png");
	background-size: cover;
    background-repeat: no-repeat;
}

video {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%    !important;
	height: auto   !important;
}