body {
	background-image: url("../image/bgd1.png");
	background-size: cover;
    background-repeat: no-repeat;
}

video {
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 100%   !important;
	width: auto    !important;
}